@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

:root {
    --color-primary: #4C5598;
    --color-primary-darken: #4A5084;
    --color-secondary: #474657;
    --color-secondary-darken: #414141;
    --color-purple: #904C6F;
    --color-purple-darken: #894568;
    --color-red: #E75C62;
    --color-red-darken: #E0555B;
    --color-yellow: #FFB129;
    --color-yellow-darken: #F8AA22;
    --color-blue: #67D2E1;
    --color-blue-darken: #35C8DE;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 61.04px;
    line-height: 118.3pt;
}

h2 {
    font-size: 48.64px;
    line-height: 94.5pt;
}

h3 {
    font-size: 39.06px;
    line-height: 75.7pt;
}

h4 {
    font-size: 31.25px;
    line-height: 60.6pt;
}

h5 {
    font-size: 25px;
    line-height: 48.3pt;
}

h6 {
    font-size: 20px;
    line-height: 38.8pt;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
    transition: 0.3 color;
}

a:hover {
    color: var(--color-primary-darken);
}

.text-center {
    text-align: center;
}

.auth > .row {
    min-height: 100vh;
}

.auth-sidebar {
    position: fixed !important;
    width: 50vw;
    height: 100vh;
}

.auth-sidebar-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: relative;
}

.auth-sidebar-text {
    width: inherit;
    position: absolute;
    text-align: center;
    color: white;
}

.auth-form {
    margin-left: 50vw;
}

.form-input {
    position: relative;
}

.form-input label {
    position: absolute;
    font-size: 0.85rem;
    top: 1.5rem;
    left: 1rem;
    transition: 0.3s;
}

.form-input:focus-within label, .form-input label.filled {
    top: 0;
    left: 0;
    font-size: 0.75rem;
    color: var(--color-primary);
}

.form-input input {
    border: none;
    border-bottom: 1px solid var(--color-secondary);
    padding: 1.5rem 0 1rem 0;
    outline: none;
    width: 100%;
    display: block;
}

.form-input:focus-within input {
    border-bottom: 1px solid var(--color-primary);
}

.form-input input::placeholder {
    opacity: 0;
    transition: 0.5s;
}

.form-input:focus-within input::placeholder {
    opacity: 1;
}

.btn {
    padding: calc(0.5 * 1.608rem) calc(1.25 * 1.608rem);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    position: relative;
    z-index: 2;
    transition: 0.3s background;
}

.btn-primary:hover {
    background-color: var(--color-primary-darken);
}

.btn-primary::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 0 0 5px 5px;
    content: '';
    background-color: var(--color-primary-darken);
    z-index: 0;
}

.alert {
    width: 100%;
    padding: 1.5rem;
    border-radius: 4px;
}

.alert p {
    margin: 0;
    margin-bottom: 1rem;
}

.alert p:last-child {
    margin-bottom: 0;
}

.alert-primary {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary-darken);
}

.alert-secondary {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary-darken);
}

.alert-info {
    background-color: var(--color-yellow);
    border: 2px solid var(--color-yellow-darken);
}

.alert-danger {
    color: white;
    background-color: var(--color-red);
    border: 2px solid var(--color-red-darken);
}